@charset "utf-8";

@import "compass";
@import "partial/animate";
@import "partial/keyframes";

video {
  margin: 10px;
}

.my-video {
  -webkit-filter: #{"saturate(100)"}
}

.peer-video {
//  -webkit-filter: #{"hue-rotate(120deg) blur(4px)"}
  -webkit-filter: #{"invert() blur(4px)"}
}

.text {
  margin: 5px;
  border: 1px solid;
}

.button {
  margin: 5px;
  border: 1px solid;
  cursor: pointer;
}
